<form id="login-form" action="" method="post">
    <div class="container" style="padding: 50px 0;">
        <input id="csrf-main" type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="text" name="name" id="name" placeholder="Your Name">
        <input type="password" name="pass" id="pass" placeholder="Password">
        <div class="modal-footer">
            <a href="#!" class="modal-close grey darken-1 btn">Cancel</a>
            <button type="submit" class="modal-close light-blue btn">Register or Log In</button>
        </div>
    </div>
</form>