<!-- Modal Trigger -->
<% modalId = userId + '_delete' %> 
<a class="modal-trigger pink-text" href="#<%= modalId %>">delete</a>

<!-- Modal Structure -->
<div id="<%= modalId %>" class="modal left-align valign-wrapper" style="width: 20% !important; padding: 50px 0">
    <form action="/v1/users/delete" method="POST" enctype="aplication/json">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="id" value="<%= user._id %>">
        <div class="container center-align">
            <a href="#!" class="modal-close grey darken-1 btn">Cancel</a>
            <button type="submit" class="modal-close light-blue btn">Confirm</button>
        </div>
    </form>
</div>